@media (max-width: 1919px) {

    .container {
        box-sizing: border-box;
    }
}

@media (max-width: 1440px) {

    [class$="__grid-container"]:not(.footer__grid-container) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    [class$="__visual"] img {
        width: 250px;
        height: auto;
        margin-inline: auto;
        transform: translateX(0);
    }

    [class$="__visual"] {
        margin-inline: auto;
    }

    [class$="__content"] {
        margin-inline: auto;
    }

    [class$="-container"],
    .clients-reviews__visual {
        transform: translateX(0);
        text-align: center;
    }

    .hero {
        padding-bottom: 40px;

    }

    .hero__actions {
        justify-content: center;
    }

    .hero__brands-list {
        flex-wrap: wrap;
    }

    .hero__brands-item img {
        width: 150px;
        height: auto;
    }

    .clients-reviews__list {
        align-items: center;
    }

    .footer__grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "nav-1 nav-2 nav-3"
	"about about about"
    "brand brand brand";
    column-gap: 30px;
    }

    .footer__about,
    .footer__brand {
        margin-top: 60px;
        margin-inline: auto;
    }

    .footer__brand,
    .footer__brand-mainlink,
    .brand-contacts__list {
    align-items: center;
    text-align: center; 
    }

    .footer__about-site {
        margin-top: 12px;
    }

    .brand-contacts__list {
        margin-top: 20px;
    }

    .footer__about-description {
        margin-top: 16px;
    }

    .footer__socials {
        justify-content: center;
    }

}

@media (max-width: 1600px) {

    .hero__visual img,
    .apply-ai__visual img {
        width: 500px;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .hero__grid-container {
    gap: 0px;
    transform: translateX(0px);
    }

    .apply-ai__grid-container {
    gap: 30px;
    transform: translateX(0px);
    }

    .hero__visual {
    margin: auto;
    }

    .nav__list {
    margin-left: 0;
    }

}

@media (max-width: 1200px) {

    .hero__brands-list {
        gap: 50px;
    }

    .header__container {
        padding-inline: 40px;
    }

    .hero {
        padding-bottom: 24px;
    }
}

@media (max-width: 992px) {

    .header {
        position: relative;
    }

    .humburger-button {
        display: block;
        order: -1;
    }

    .humburger-button.active {
        position: absolute;
        right: 10px;
    }

    .header__nav {
        display: none;
    }
    
    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .nav__list .nav__item a:hover {
    background-color: transparent;
    padding-block: 5px;
    }



    .logo__text {
        display: none;
    }

    .header__logo {
        margin-inline: auto;
    }

    .header__signin {
        position: absolute;
        right: 10px;
    }

    .humburger-button.active {
        right: 60px;
    }

    .header__container {
        padding-inline: 30px;
    }



    .footer__grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
        "nav-1 nav-1 nav-1"
        "nav-2 nav-2 nav-2"
        "nav-3 nav-3 nav-3"
	    "about about about"
        "brand brand brand";
        /* column-gap: 0px; */
        row-gap: 80px;
    }

    .footer__nav-list {
        gap: 20px;
    }

    .footer__title {
        font-size: 24px;
    }

    .footer__nav-item a {
        font-size: 20px;
    }

    .header__logo {
        display: none;
    }

    .footer__nav-list {
        gap: 30px;
    }
}


@media (max-width: 780px) {

    [class$="__visual"] img {
        width: 300px;
        height: auto;
    }

}

@media (max-width: 576px) {
    
    .footer {
        padding: 60px 24px;
    }

}

@media (max-width: 480px) {

    .header__logo {
        display: none;
    }

    .hero__actions {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        margin-top: 30px;
    }

    .hero__brands-list {
        gap: 30px;
    }

    
    .footer__grid-container {
        gap: 60px;
    }
}