:root {
    --color-dark-blue: #0a111f; /* header */
    --color-light-dark-blue: #08101d; /* hero */
    --color-deep-dark-blue: #020a18; /* other */
    --color-interaction-blue: #3A68B8;

    --color-interaction-blue-hover: #2f5392;
    --color-dark-blue-hover: #19243a;

    --header-height: 100px;
    
    --font-open-sans: "Open Sans", sans-serif;
    --font-circular-std: "Circular Std", sans-serif;
    --font-circular-std-book: "Circular Std Book", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    border: 0;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding-inline: 24px;
    box-sizing: content-box;
}

.element-animation {
    opacity: 0;
    transform: translateY(15px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}


/* === HEADER === */

.header {
    background-color: var(--color-dark-blue);
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.header__container {
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
    padding: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* = header logo = */

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    text-decoration: none;
}

.logo__text {
    color: var(--color-interaction-blue);

    font-family: var(--font-open-sans);

    font-size: 22.545px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}


.humburger-button {
    display: none;

    background: 0;
    border: 0;
    outline: 0;
    position: relative;

    width: 30px;
    height: 21px;

    transition: all .1s;
}

.humburger-button::before,
.humburger-button::after,
.humburger-button span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.humburger-button::before {
    content: "";
    top: 0;
    left: 0;
}

.humburger-button::after {
    content: "";
    bottom: 0;
    left: 0;
}

.humburger-button span {
    top: 9px;
    left: 0;
}

.humburger-button.active {
    z-index: 100;
}

.humburger-button.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.humburger-button.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.humburger-button.active span {
    transform: scale(0);
}

.header__nav {
    display: flex;
}

.open {
    display: flex !important; 
    flex-direction: column !important;

    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgba(0, 0, 0, 0.9);

}


/* = header nav = */

.nav__list {
    display: flex;
    margin-left: -87px;
}

.nav__item a {
    color: #fff;
    opacity: 0.9;
    font-family: var(--font-open-sans);

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;

    padding: 39px 20px;

    transition: all .1s;
}

.nav__item a:hover {
    background-color: var(--color-dark-blue-hover);
    font-size: 17px;
    opacity: 1;
}


.header__signin {
    color: #fff;
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
    white-space: nowrap;
    
    padding: 15px 30px;
    background-color: var(--color-interaction-blue);
    border-radius: 5px;
    
    transition: all .1s;
}

.header__signin:hover {
    background-color: var(--color-interaction-blue-hover);
}

/* === HERO SECTION === */

.hero {
    background-color: var(--color-light-dark-blue);
    padding-top: 50px;
    /* box-sizing: content-box; */
    box-sizing: border-box;
    min-height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 114px;

    transform: translateX(103px);
}

.hero__eyebrow {
    color: var(--color-interaction-blue);
    font-family: var(--font-open-sans);
    font-size: 18px;
    font-size: clamp(12px, 0.94vw, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.hero__title {
    color: #fff;
    font-family: var(--font-open-sans);
    font-size: clamp(32px, 2.86vw, 55px);
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

    margin-top: 10px;
}

.hero__description {
    color: #fff;
    font-family: var(--font-open-sans);
    font-size: clamp(14px, 0.94vw, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;

    max-width: 558px;
    margin-top: 40px;

    word-break: keep-all;
}

.hero__visual {
    margin: auto;
}

.hero__actions {
    display: flex;
    gap: 20px;

    margin-top: 50px;
}

.btn {
    background-color: var(--color-interaction-blue);
    padding: 15px 30px;
    color: #fff;
    border-radius: 5px;

    font-family: var(--font-open-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;

    display: inline-flex;
    justify-content: center;
}

.btn:hover {
    background-color: var(--color-interaction-blue-hover);
}

.btn--primary {
    text-decoration: none;
}

.btn--secondary {
    display: inline-flex;
    gap: 10px;
    border: 0;
}

.hero__brands {
    margin-top: 50px;
}

.hero__brands-list {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    margin: auto;
    max-width: 1146px;
}

.hero__brands-item {
    display: block;
    margin: auto;
}

/* === APPLY AI SECTION === */

.apply-ai {
    background-color: var(--color-deep-dark-blue);
    padding-block: 130px 85px;
    /* margin-left: -65px; */
}

.apply-ai__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 68px;
    transform: translateX(-65px);
}

.apply-ai__title {
    color: #fff;
    font-family: var(--font-open-sans);
    font-size: clamp(32px, 2.08vw, 40px);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.apply-ai__description {
    max-width: 460px;
    margin-top: 30px;

    color: #fff;
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.apply-ai__button {
    margin-top: 50px;

    text-decoration: none;
    display: inline-flex;

    color: #fff;
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* === CARDS-SCROLLBAR === */

.cards-scrollbar {
    background-color: var(--color-deep-dark-blue);
    padding-block: 85px 100px;

    overflow: hidden;
}

.scrollbar__container {
    width: 100%;
    margin: 0 auto;
    box-sizing: content-box;

    overflow-x: visible;
    display: flex;
}

.scrollbar__container::-webkit-scrollbar {
    display: none;
}

.scrollbar__group {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;

    animation: spin 20s infinite linear;
    padding-right: 30px;

    touch-action: pan-y;
}

.scrollbar__card {
    flex: 0 0 365px;

    max-width: 362px;
    height: 389px;
    background-color: var(--color-dark-blue);

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;

    text-align: center;
    gap: 30px;
    
}

.card__title {
    color: #fff;
    text-align: center;
    font-family: var(--font-open-sans);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.card__description {
    color: #fff;
    text-align: center;
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/* === Clients reviews === */

.clients-reviews {
    background-color: var(--color-deep-dark-blue);
    padding-block: 100px 170px;
}

.clients-reviews__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.clients-reviews__content {
    justify-self: end;
}

.clients-reviews__title {
    color: #fff;
    font-family: var(--font-open-sans);
    font-size: clamp(32px, 2.08vw, 40px);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.clients-reviews__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 40px;
}

.clients-reviews__item {
    color: #fff;
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;

    max-width: 460px;
}

.clients-reviews__visual {
    justify-self: start;
    transform: translateX(-44px);
}

/* === FOOTER === */

.footer {
    background-color: var(--color-light-dark-blue);
    padding: 100px 145px;   
}

/* ----------------------------------- */

.footer__grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
	"brand nav-1 nav-2 nav-3 about";
    column-gap: 30px;
}

.footer__brand {
    grid-area: brand;
}

.footer__nav:nth-child(2) {
    grid-area: nav-1;
}

.footer__nav:nth-child(3) {
    grid-area: nav-2;
}

.footer__nav:nth-child(4) {
    grid-area: nav-3;
}

.footer__about {
    grid-area: about;
}

/* ----------------------------------- */

.footer__brand {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;

    margin-top: -23px;
}

.footer__brand-mainlink {
    color: var(--color-interaction-blue);
    font-family: var(--font-open-sans);
    font-size: 15.963px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    gap: 7px;
}

.footer__brand-description {
    color: #fff;
    font-family: var(--font-circular-std-book);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    opacity: 0.6;

    margin-top: 9px;
    max-width: 261px;
}

.brand-contacts__list {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.brand-contacts__item a {
    display: flex;
    gap: 10px;

    color: #fff;
    font-family: var(--font-circular-std);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: space-between;
}

.footer__title {
    color: #fff;
    font-family: var(--font-circular-std);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-item a {
    color: #fff;
    font-family: var(--font-circular-std-book);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    opacity: 0.6;
    text-decoration: none;
}

.footer__nav-item a:hover {
    opacity: 1;
}

/* == Footer About == */

.footer__about-description {
    color: #fff;
    font-family: var(--font-circular-std-book);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    opacity: 0.6;

    margin-top: 32px;
    max-width: 261px;
}

.footer__about-site {
    color: #fff;
    font-family: var(--font-circular-std);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    display: block;
    margin-top: 29px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 25px;

    margin-top: 21px;
}

.footer__socials-item a img {
    transition: scale .1s;
}

.footer__socials-item a:hover > img {
    scale: 1.25;
}

